@import url('https://fonts.googleapis.com/css?family=Oswald');
page-home {
    font-family: 'Oswald', sans-serif;
    .btn{
        width: 50%;
        color: black;
    }
    .toolbar-background {
        background-color: #F39C12;
      }
    .btnA{
        color: black;
    }
    .btnB{
        color: black;
    }

}
